{% load static %}

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <!---bootstrap--->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <title>
            {% block title %}
                {{ camera.ip }}
            {% endblock title %}
        </title>
    </head>

    <body class="text-center">

        <style>
            .fix-size {
                width: 40%;
            }
            body {
              color: #fff;
              height: 100%;
              background-color: #333;
            }
        </style>

        <!--- nav bar --->

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #386bc9">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/home/{{data.email}}" name="tela_inicial">Home</a>
              <a class="nav-item nav-link" href="/visualizar/{{data.email}}" name="visualizar_perfil">Perfil</a>
              <a class="nav-item nav-link" href="/ambientes/{{data.email}}" name="gerenciar_câmeras">Gerenciar câmeras</a>
              <a class="nav-item nav-link" href="#" name="relatorios">Relatórios</a>
              <a class="nav-item nav-link" href="/" name="sair">Sair</a>
            </div>
          </div>
        </nav>

        </br></br>

        <div class="container">
            <div class ="row justify-content-center">
                <img src="https://i.ibb.co/HPWX0BQ/camera-view.png" class="img-fluid" alt="Responsive image" width="40%" height="40%" align="center">
            </div>
        </div>

        </br></br></br>

       <div class="row justify-content-center">
            <div class="col-sm-6 card text-blue bg-dark mb-3 special-card" style="max-width: 23rem;">
              <div class="card-body">
                  <div class="main" id="div_client_info">
                        <b>Nome:</b> {{ camera.nome }}<br/>
                        <b>Ip:</b> {{camera.ip }}<br/>
                        <b>Ambiente:</b> {{ambiente_name}}<br/>
                        <b>Nº de boundingbox:</b> {{ camera.num_boundingbox }}<br/>
                    </div>

                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <input type="submit" onclick="return confirm('Essa câmera será removida! Deseja continuar?')" class="btn btn-danger mt-4" value="Remover" name="remover{{camera.ip}}"/>
                        </form>
                    </div>
              </div>
            </div>
        </div>
        <!---<img src = "{% url 'video_stream' camera.usuario camera.senha camera.ip camera.porta%}" width="40%" height="40%">--->
        <img id = "imagemshow" src = "https://www.eusemfronteiras.com.br/wp-content/uploads/2019/11/33525351_m-810x540.jpg" width="40%" height="40%" style = "display:none;">
        <canvas id="imagemsubshow" width="800" height="600"></canvas>
        <script type="text/javascript">
            var canvas = document.getElementById("imagemsubshow");
            var context = canvas.getContext("2d");
            var image = document.getElementById("imagemshow");
            var bounding_boxes = JSON.parse("{{bounding_box}}");
            context.drawImage(image,20,20);
            for (var bounding_box_iter in bounding_boxes){
                var bounding_box = bounding_boxes[bounding_box_iter]
                console.log(bounding_box)
                var x1 = bounding_box[0]
                var x2 = bounding_box[2]
                var y1 = bounding_box[1]
                var y2 = bounding_box[3]
                let color = bounding_box[4]
                context.lineWidth = 5;
                context.beginPath();
                context.strokeStyle = '#'+color
                context.rect(x1,y1,(x2-x1), (y2-y1));
                context.stroke();
            }
        </script>
        </br></br></br>

        <img src='https://i.ibb.co/pXn5JPj/background.png' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

    </body>
</html>