{% load static %}

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <!---bootstrap--->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <title>
            {% block title %}
                {{ camera.ip }}
            {% endblock title %}
        </title>
    </head>

    <body class="text-center">

        <style>
            .fix-size {
                width: 40%;
            }
            body {
              color: #fff;
              height: 100%;
              background-color: #333;
              background-image: url(https://i.ibb.co/pXn5JPj/background.png);
              background-repeat: no-repeat;
              background-position: bottom left;
            }
        </style>

        <!--- nav bar --->

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #386bc9">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/home/{{data.email}}" name="tela_inicial">Home</a>
              <a class="nav-item nav-link" href="/visualizar/{{data.email}}" name="visualizar_perfil">Perfil</a>
              <a class="nav-item nav-link" href="/ambientes/{{data.email}}" name="gerenciar_câmeras">Gerenciar câmeras</a>
              <a class="nav-item nav-link" href="#" name="relatorios">Relatórios</a>
              <a class="nav-item nav-link" href="/" name="sair">Sair</a>
            </div>
          </div>
        </nav>

        </br></br>

        <div class="container">
            <div class ="row justify-content-center">
                <img src="https://i.ibb.co/HPWX0BQ/camera-view.png" class="img-fluid" alt="Responsive image" width="40%" height="40%" align="center">
            </div>
        </div>

        </br></br></br>

       <div class="row justify-content-center">
            <div class="col-sm-6 card text-blue bg-dark mb-3 special-card" style="max-width: 23rem;">
              <div class="card-body">
                  <div class="main" id="div_client_info">
                        <b>Nome:</b> {{ camera.nome }}<br/>
                        <b>Ip:</b> {{camera.ip }}<br/>
                        <b>Ambiente:</b> {{ambiente_name}}<br/>
                        <b>Nº de boundingbox:</b> {{ camera.num_boundingbox }}<br/>
                    </div>

                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <input type="submit" onclick="return confirm('Essa câmera será removida! Deseja continuar?')" class="btn btn-danger mt-4" value="Remover" name="remover{{camera.ip}}"/>
                        </form>
                    </div>
              </div>
            </div>
        </div>
        <img src = "{% url 'video_stream' camera.usuario camera.senha camera.ip camera.porta%}" width="40%" height="40%">
        </br></br></br>
    </body>
</html>