<html>
<head>
<title>{% block title %}Meu Perfil{% endblock title %}</title>
<h1>Meu Perfil</h1>
</head>
<body>
<body>
<div class="main" id="div_client_info">
    Email: {{ data.email }}<br/>
    Nome: {{ data.nome }}<br/>
    Contato: {{ data.contato }}<br/>
    CPF|CNPJ: {{ data.cpf_cnpj }}<br/>
    Senha: {{ data.senha }}<br/>
    Cadastrou-se em: {{ data.joined }}<br/>
    Última atualização: {{ data.updated }}<br/>
    Status: {{ data.active }}<br/>

    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn" value="Desativar Conta" name="desativar"/>

    </form>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn" value="Editar Conta" name="editar"/>
    </form>

</div>
</body>
</html>