{% load static %}

<html>
    <head>
        <!---bootstrap--->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <title>
            {% block title %}
                SafeBox
            {% endblock title %}
        </title>

    </head>

    <body class="text-center">

        <style>
            .fix-size {
                width: 40%;
            }
            body {
              color: #fff;
              height: 100%;
              background-color: #333;
              background-image: url(https://i.ibb.co/R0Kxjq5/logo-opac.png);
              background-repeat: no-repeat;
              background-position: bottom left;
            }
        </style>

        <!--- nav bar --->

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #386bc9">
           <a class="navbar-brand" href="#">
                <img src="https://i.ibb.co/6BsCFZr/logo-white.png" width="35" height="35" alt="">
           </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only" name="tela_inicial">(current)</span></a>
              <a class="nav-item nav-link" href="/visualizar/{{data.email}}" name="visualizar_perfil">Perfil</a>
              <a class="nav-item nav-link" href="#" name="gerenciar_câmeras">Gerenciar câmeras</a>
              <a class="nav-item nav-link" href="#" name="relatorios">Relatórios</a>
              <a class="nav-item nav-link" href="/" name="sair">Sair</a>
            </div>
          </div>

        </nav>

        <div class="container">
                </br></br>
                <img src="https://i.ibb.co/TbTQsxw/user-icon.png" class="img-fluid" alt="Responsive image" width="10%" height="10%" align="center">
                <h1>Usuário logado com sucesso!</h1>
                <h5 name="label_email_logged">Email: {{ data.email }}</h5>

                <!---
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Sair" name="sair"/>
                </form>
                --->
        </div>
    </body>
</html>