name: Django CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install django
        pip install behave
        pip install django-crispy-forms
        pip install selenium
        pip install django-bootstrap
        pip install pandas
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
        sudo apt-get update
        sudo apt install google-chrome-stable
        wget https://chromedriver.storage.googleapis.com/100.0.4896.60/chromedriver_linux64.zip
        unzip chromedriver_linux64.zip
        sudo mv chromedriver /usr/local/bin/chromedriver
        sudo chown root:root /usr/local/bin/chromedriver
        sudo chmod +x /usr/local/bin/chromedriver
        sudo chmod +x /usr/bin/google-chrome-stable
        wget https://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar 
        mv selenium-server-standalone-3.141.59.jar selenium-server-standalone.jar
        wget http://www.java2s.com/Code/JarDownload/testng/testng-6.8.7.jar.zip
        unzip testng-6.8.7.jar.zip

    - name: Run setup
      run: |
        python projetao/manage.py makemigrations
        python projetao/manage.py sqlmigrate safebox 0001
        python projetao/manage.py sqlmigrate safebox 0002
        python projetao/manage.py sqlmigrate safebox 0003
        python projetao/manage.py sqlmigrate safebox 0004
        python projetao/manage.py sqlmigrate safebox 0005
        python projetao/manage.py migrate
        python projetao/manage.py loaddata plano.json
    - name: Run Tests
      run: |
        python projetao/manage.py test
    - name: Run server
      run: |
        python projetao/manage.py runserver &
    - name: Run behave
      run: |
        cd projetao
        behave
